<!DOCTYPE html>
<html lang="en">

    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-153215155-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-153215155-1');
        </script>
        
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#1c1c22" />

        <title>{{ page.title }} - Kenol David</title>
    </head>

    <body id="page-{{ page.id }}">
        <!-- <header>-->
        <header> 
            <!-- <h1>The header goes here...</h1> -->
            {{ partials.header }}
        </header>

        <main id="{{ page.id }}" class="main">
            <!-- <h1>The page main content goes here!</h1> -->
            {# <img src="{{ './themes/legba/assets/dist/images/bg.jpg' }}" alt="{{ image.alt }}"> #}
            {{ page.content }}
        </main>

        <footer id="main-footer">
            <!-- <h1>The footer goes here...</h1> -->
            {{ partials.footer }}
        </footer>

        <!-- JS Scripts -->

    </body>

</html>